{% extends 'base.html.twig' %}

{% block title %}
    Cat Clinic • {{ page }}
{% endblock %}

{% block content %}

    <header class="header">
        {% include 'partials/nav.html.twig' %}
        <div class="content content-sm text-center">
            <h1>Notre clinique</h1>
        </div>
    </header>

    <main class="text-container lead">
        {% include 'blocks/about.html.twig' %}
    </main>
{% endblock %}
