{% extends 'base.html.twig' %}

{% block title %}
    Cat Clinic • {{ page }}
{% endblock %}

{% block content %}
    <header class="header section-primary">
        {% include 'partials/nav.html.twig' %}
        <div class="content content-sm text-center">
            <h1>Nous contacter</h1>
        </div>
    </header>
    <main class="lead text-center padding-vertical-3">
        {% include 'blocks/contact.html.twig' %}
    </main>

    {% include 'partials/footer.html.twig' %}
{% endblock %}
