{% extends 'base.html.twig' %}

{% block title %}
    Cat Clinic • {{ page }}
{% endblock %}

{% block content %}
    <header class="header section-primary">
        {% include 'blocks/header.html.twig' %}
    </header>

    <main>
        {% include 'blocks/presentation.html.twig' %}
        {% include 'blocks/emergency.html.twig' %}
        <div id="contact" class="lead text-center padding-vertical-3">
            {% include 'blocks/contact.html.twig' %}
        </div>
    </main>

    <footer>
        {% include 'partials/footer.html.twig' %}
    </footer>

    <script src="/js/carousel.js"></script>
    <script src="/js/cat.js"></script>
{% endblock %}
