{% extends 'base.html.twig' %}

{% block title %}
    Cat Clinic • {{ page }}
{% endblock %}

{% block content %}
    <header class="header">
        {% include 'blocks/header.html.twig' %}
    </header>
    <main>
        {% include 'blocks/presentation.html.twig' %}
        {% include 'blocks/emergency.html.twig' %}
    </main>
    <footer>
        {% include 'partials/footer.html.twig' %}
    </footer>
    {% include 'partials/carousel.html.twig' %}
{% endblock %}
