{% extends 'base.html.twig' %}

{% block title %}
    Cat Clinic • {{ page }}
{% endblock %}

{% block content %}
    <header class="header section-primary">
        {% include 'partials/nav.html.twig' %}
        <div class="content content-sm text-center">
            <h1>Mentions légales</h1>
        </div>
    </header>

    <main class="text-container padding-vertical-3">
        {% include 'blocks/mentions.html.twig' %}
    </main>

    <footer>
        {% include 'partials/footer.html.twig' %}
    </footer>
{% endblock %}
