{% extends 'base.html.twig' %}

{% block title %}
    Cat Clinic • {{ page }}
{% endblock %}

{% block content %}

    <header class="header">
        {% include 'partials/nav.html.twig' %}
        <div class="content content-sm text-center">
            <h1>Notre équipe</h1>
        </div>
    </header>

    <main class="grid-container padding-vertical-3">
        {% include 'blocks/team.html.twig' %}
    </main>

    {% include 'partials/footer.html.twig' %}
{% endblock %}
