<p>Cat Clinic est une clinique vétérinaire spécialisée dans l’accueil et le soin des félins (chat, hyènes, tigres du Bengale...).</p>
<p>Nos vétérinaires expérimentés apportent à vos félins toute l’attention dont ils ont besoin.</p>
<figure class="bada">
    <img src="/img/bada.png" alt="Chat Bada">
</figure>
