<section>
    <h2>Cat Clinic</h2>
    <p>Route des chats noirs</p>
    <p>38270 Jarcieu</p>
    <p>04 21 23 06 66</p>
</section>
<hr>
<section>
    <h2>Horaires</h2>
    <p>Du Lundi au Vendredi de 8h30 à 19h30</p>
    <p>Le Samedi de 8h30 à 18h00</p>
    <p>Le Dimanche de 10h00 à 12h00</p>
</section>