<div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-x small-up-1 large-up-2">
        <section class="cell card padding-2">
            <h2 class="margin-bottom-1">Horaires</h2>
            <p>Du lundi au vendredi de 8h30 à 19h30</p>
            <p>Le samedi de 8h30 à 18h00</p>
            <p>Le dimanche de 10h00 à 12h00</p>
        </section>
        <section class="cell card padding-2">
            <h2 class="margin-bottom-1">Cat Clinic</h2>
            <p>Route des chats noirs</p>
            <p>38270 Jarcieu</p>
            <a class="color-dark" href="tel:0421230666">04 21 23 06 66</a>
        </section>
    </div>
</div>


