<section class="section-light">
    <div class="section-lg text-center">
        <h2 class="h1 margin-bottom-1">Urgences 24h/24 et 7j/7</h2>
        <div class="grid-x align-center">
            <p class="lead-2 small-11 medium-9 large-7">Les urgences sont assurées 24h/24 et 7j/7 après&nbsp;appel&nbsp;téléphonique</p>
        </div>
        <a href="tel:0421230666" class="h2">04 21 23 06 66</a>
    </div>
</section>
