<div class="grid-x">
    {% for guide in guides %}
        <a class="guide cell padding-vertical-3" href="/fiches-conseils/{{ guide.id }}">
            <div class="grid-container padding-horizontal-2">
                <h2 class="title">{{ guide.title }}</h2>
            </div>
        </a>
    {% endfor %}
</div>
