{% include 'partials/nav.html.twig' %}

<div class="content grid-container padding-left-2">
    <h1>Cat Clinic</h1>
    <p class="subtitle lead-2">Des soins professionnels pour votre félin</p>
    <a href="/#contact" class="button round text-uppercase padding-horizontal-3 margin-right-1">Horaires</a>
    <a href="tel:0421230666" class="button round text-uppercase padding-horizontal-2">Nous appeler</a>
    <div id="cat" class="walk"></div>
</div>

