<header class="header">

    {% include 'partials/nav.html.twig' %}

    <div class="content text-center">
        <h1>Cat Clinic</h1>
        <p class="subtitle lead-2">Des soins professionnels pour votre félin</p>
    </div>

</header>
