{% include 'partials/nav.html.twig' %}

<div class="content text-center">
    <h1>Cat Clinic</h1>
    <p class="subtitle lead-2">Des soins professionnels pour votre félin</p>
    <a href="/nous-contacter" class="button secondary text-white margin-right-1 padding-horizontal-3">Horaires</a>
    <a href="tel:0421230666" class="button secondary text-white">Nous appeler</a>
</div>

