<div class="grid-x grid-padding-x">
    <div class="cell medium-6 grid-y align-center">
        <h2 class="h1">Cat Clinic</h2>
        <p class="lead padding-right-2">
            Du chaton au tigre du bengale, du lionceau à la panthère noire,
            nous prenons en charge tous les félins et leur apportons toute
            notre expérience et tout notre savoir-faire.
        </p>
    </div>
    <div class="cell medium-6 grid-y align-center">
        <picture>
            <source class="source" srcset="img/carousel/cat1.webp">
            <img class="shadow carousel"
                 src="img/carousel/cat1.jpeg"
                 alt="Chat sous la couette">
        </picture>

    </div>
</div>
