<section class="margin-bottom-2">
    <h2>Propriété</h2>
    <p class="margin-bottom-0">Cat Clinic</p>
    <p class="margin-bottom-1">Route des chats noirs<br>
    38270 Jarcieu<br>
    France</p>
    <p>Responsable de publication : Jérôme Abeauvaux</p>
</section>

<section class="margin-bottom-2">
    <h2>Hébergement</h2>
    <p>1&1 INTERNET SARL<br>7, Place de la Gare, Sarreguemines</p>
</section>

<section>
    <h2>Protection des données personnelles et sécurité</h2>
    <p class="margin-bottom-0">Aucune information personnelle n’est collectée à votre insu.</p>
    <p class="margin-bottom-0">Aucune information personnelle n’est cédée à des tiers.</p>
    <p>Aucune information personnelle n’est utilisée à des fins non prévues.</p>
</section>
