<div class="grid-container">
    <section class="section">
        {% include 'blocks/intro.html.twig' %}
    </section>
    <hr>
    <section class="section">
        <h2 class="h1 text-center margin-bottom-3">Nos spécialités</h2>
        {% include 'blocks/features.html.twig' %}
    </section>
</div>
