<div class="grid-x grid-padding-x">
    <div class="cell medium-6 grid-y align-center">
        <h2 class="h1">Cat Clinic</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto, deserunt dicta nemo neque nostrum pariatur reiciendis totam. Fugit natus nemo nihil nobis non omnis pariatur praesentium quasi quisquam voluptatem?</p>
    </div>
    <div class="cell medium-6 grid-y align-center">
        <img class="shadow-2 carousel" src="https://placekitten.com/600/300" alt="">
    </div>
</div>
