<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Cat Clinic, site réalisé dans le cadre de la formation “Programmation de sites web” du CNAM.">
    <link rel="stylesheet" href="/assets/css/app.css">
    <title>{% block title %}Cat Clinic{% endblock %}</title>
</head>
<body>

{% block content %}{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/js/foundation.js"></script>
<script src="/assets/js/app.js"></script>
</body>
</html>
