{% extends 'base.html.twig' %}

{% block title %}
    {{ page }}
{% endblock %}

{% block content %}
    <h1 class="text-center margin-bottom-2">About</h1>
    <div class="grid-x align-center">
        <div class="small-10 medium-8">
            <p class="lead">Simple MVC is a PHP starter project for educational purpose or small projects.</p>
            <p class="lead">Once you’re comfortable with PHP and for real projects, we suggest you use a battle tested framework like <a href="https://symfony.com/">Symfony</a>, <a href="https://laravel.com/">Laravel</a>, <a href="https://cakephp.org/">Cake</a> or <a href="https://www.slimframework.com/">Slim</a>.</p>
        </div>
    </div>
{% endblock %}