:root {
  --blue: #0787CE;
}

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

nav ul {
  padding-left: 0;
  display: flex;
  list-style: none;
}

nav ul li {
  padding: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--blue);
}

footer {
  padding: 1rem 0;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

header p {
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  margin-top: 0;
}
