<div class="burger-menu is-hidden">
    <button id="close" class="hamburger hamburger--spin" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <ul class="menu vertical">
        <li><a href="/">Accueil</a></li>
        <li><a href="/notre-clinique">Notre clinique</a></li>
        <li><a href="/notre-equipe">Notre équipe</a></li>
        <li><a href="/fiches-pratiques">Fiches conseils</a></li>
        <li><a href="/nous-contacter">Nous contacter</a></li>
    </ul>
</div>
