<div class="wrapper">
    <div class="grid-container padding-vertical-1">
        <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle="menu"></button>
            <div class="title-bar-title">Menu</div>
        </div>
        <nav class="top-bar" id="menu">
            <div class="top-bar-left">
                <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/notre-clinique">Notre clinique</a></li>
                    <li><a href="/notre-equipe">Notre équipe</a></li>
                    <li><a href="/fiches-conseils">Fiches conseils</a></li>
                    <li><a href="/nous-contacter">Nous contacter</a></li>
                </ul>
            </div>
            <div class="top-bar-right show-for-large">
                <ul class="menu padding-right-1">
                    {%  if session.username is defined  %}
                        <li><a href="/admin">Administration</a></li>
                        <li><a class="button hollow" href="/logout">Déconnexion</a></li>
                    {% else %}
                        <li><a class="button hollow" href="/admin">Connexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>
