{% extends 'base.html.twig' %}

{% block title %}
    Cat Clinic • {{ page }}
{% endblock %}

{% block content %}

    <header class="header section-primary">
        {% include 'partials/nav.html.twig' %}
        <div class="content content-sm text-center">
            <h1>Fiches conseils</h1>
        </div>
    </header>

    {% if guides is empty %}
        <main class="grid-y align-center">
            <p class="h2 text-center">Il n’y a aucune fiche conseil pour le moment.</p>
        </main>
    {% else %}
        <main>
            {% include 'blocks/guides.html.twig' %}
        </main>
        <div class="section bg-primary">
            <div class="illustration">
                <div class="window">
                    <div class="tail"></div>
                </div>
            </div>
        </div>
    {% endif %}

    {% include 'partials/footer.html.twig' %}
{% endblock %}


