{% extends 'base.html.twig' %}

{% block title %}
    Cat Clinic • {{ page }}
{% endblock %}

{% block content %}

    <header class="header section-primary">
        {% include 'partials/nav.html.twig' %}
        <div class="content content-sm text-center">
            <h1>{{ guide.title }}</h1>
        </div>
    </header>

    <main class="guides text-container lead padding-vertical-3">
        {{ guide.description|raw }}
    </main>

    {% include 'partials/footer.html.twig' %}
{% endblock %}


