#cat {
  cursor: pointer;
  display: none;
  @include breakpoint(medium up) {
    display: block;
  }
  width: 400px;
  height: 200px;
  position: absolute;
  bottom: -22px;
  right: 3rem;
  background: transparent url('../../img/cat_sprite.png') -400px -1000px no-repeat;
  &.moving {
    animation:
      walkCycleOne 1s steps(11) 4,
      walkCycleThree 1s 4s steps(11) 1,
      walkCycleFour .75s 5s steps(12) infinite;
  }
}

@keyframes walkCycleOne {
  0% {background-position: 0 0 }
  100% {background-position: 0 -2200px}
}

@keyframes walkCycleTwo {
  0% {background-position: -400px 0 }
  100% {background-position: -400px -1000px}
}

@keyframes walkCycleThree {
  0% {background-position: -800px 0 }
  100% {background-position: -800px -2200px}
}

@keyframes walkCycleFour {
  0% {background-position: -1200px 0}
  100% {background-position: -1200px -2400px}
}
