.guides {
  h2 {
    font-weight: 400;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
}

.guide {
  img {
    width: 100px;
    @include breakpoint(medium up) {
      width: 200px;
    }
    @include breakpoint(large up) {
      width: 300px;
    }
  }
  border-bottom: 1px solid #eee;
  transition: transform .3s ease-in-out;
  transform: translateX(0);
  .title {
    color: $body-font-color;
    font-size: 1rem;
    @include breakpoint(medium up) {
      font-size: 1.2rem;
    }
    @include breakpoint(large up) {
      font-size: 1.5rem;
    }
    font-weight: 500;
    margin-bottom: 0;
  }
  &:hover {
    background-color: #FAFAFA;
    transition: transform .3s ease-in-out;
    transform: translateX(10px);
    .title {
      color: $primary-color;
    }
  }
}


